Makefile
Makefile.in
.*.swp
*.o
*.la
config.status
config.log
src/wxmppd
config.h.in
config.h
aclocal.m4
tags
autom4te.cache
depcomp
install-sh
missing
configure
src/.deps
modules/.deps
modules/.libs
stamp-h1
data/*.xml
*.lo
*~
config.guess
ltmain.sh
libtool
config.sub
m4
Build/*
